

{{#if this.products}}
<div class="row">
{{#each products}}
    <div class= "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{this.item.title}}
                <span class="label label-success">{{this.qty}}</span>
                <div class= "btn-group">
                    <button class= "btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle= "dropdown">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/reduce/{{this.item._id}}"> Reduce by one</a></li>
                        <li><a href="/remove/{{this.item._id}}"> Reduce All</a></li>
                    </ul>
                </div>
                    <span class="badge badge-primary badge-pill">
                        ${{this.price}}
                    </span>
            </li>
        </ul>
    </div>
{{/each}}
    <div class="row">
        <div class= "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <p>Total Price: <strong>${{this.totalPrice}}</strong></p>
        </div>
    </div>
<hr>
     <div class="row">
        <div class= "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <a type="button" class="btn btn-success " href= "/checkout">
        Checkout!</a>
        </div>
    </div>

{{else}}
<div class="row">
    <div class= "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <h2>No item in car yet!</h2>
    </div>
</div>

{{/if}}